<!DOCTYPE html>
<html>
  <head>
    <title>Wine Mix</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="top">
        <img class="logo" src="../public/images/logowine.png" alt="">
      </div>
    </header>
    <h1>Wine Mix</h1>
    <p>Bem vindo</p>
    
  </body>
</html>



